body {
  margin: 0;
  padding: 30px;
  font-family: $font-family-sans-serif;
  background-color: lighten($uoc-masterbrand, 25%);
  color: $uoc-corporate;
}

.uoc-logo {
  display: block;
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
  color: $uoc-corporate;
}

.icons {
  color: darken($red-color, 10%);
}

.heading-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.section-title {
  font-family: $font-family-serif;
  color: $uoc-corporate;
  font-size: 27px;
  font-weight: 500;
}

.section-div {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

li {
  b {
    color: $red-color;
  }

  i {
    font-weight: 300;
  }
}
